## Mango Db with Python- Querying Json Documents

In [1]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
empinfo=mydb.employeeinformation

In [2]:
record={
        'firstname':'Shubham',
        'lastname':'jha',
        'department':'Analytics',
        'qualification':'BE',
        'age':23
        }
empinfo.insert_one(record)

In [3]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Sita',
        'lastname':'ram',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [4]:
empinfo.insert_many(records)

In [5]:
## Simple way of querying
empinfo.find_one()

{'_id': ObjectId('5f3e1434f05c88ee9a2ae3f5'),
 'first_name': 'Shubham',
 'last_name': 'Jha'}

In [6]:
## Select * from employeeinformation
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('5f3e1434f05c88ee9a2ae3f5'), 'first_name': 'Shubham', 'last_name': 'Jha'}
{'_id': ObjectId('5f3e1434f05c88ee9a2ae3f6'), 'first_name': 'Shubham0', 'last_name': 'Jha0'}
{'_id': ObjectId('5f3e1434f05c88ee9a2ae3f7'), 'first_name': 'Shubham', 'last_name': 'Shrma', 'nick_name': 'IT'}
{'_id': ObjectId('5f3e1525c0868a080180fe23'), 'first_name': 'Shubham', 'last_name': 'Jha'}
{'_id': ObjectId('5f3e1525c0868a080180fe24'), 'first_name': 'Shubham0', 'last_name': 'Jha0'}
{'_id': ObjectId('5f3e1525c0868a080180fe25'), 'first_name': 'Shubham', 'last_name': 'Shrma', 'nick_name': 'IT'}
{'_id': ObjectId('5f3e1640e2e16210ea31ee26'), 'first_name': 'Shubham', 'last_name': 'Jha'}
{'_id': ObjectId('5f3e1640e2e16210ea31ee27'), 'first_name': 'Shubham0', 'last_name': 'Jha0'}
{'_id': ObjectId('5f3e1640e2e16210ea31ee28'), 'first_name': 'Shubham', 'last_name': 'Shrma', 'nick_name': 'IT'}
{'_id': ObjectId('5f3e16b7bda1db8132ab084a'), 'first_name': 'Shubham', 'last_name': 'Jha'}
{'_id': ObjectId('5f3e16b7bda1db8132ab084b'), 'first_name': 'Shubham0', 'last_name': 'Jha0'}
{'_id': ObjectId('5f3e16b7bda1db8132ab084c'), 'first_name': 'Shubham', 'last_name': 'Shrma', 'nick_name': 'IT'}
{'_id': ObjectId('5f3e16b7bda1db8132ab084d'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5f3e16b7bda1db8132ab084e'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f3e17517fd38f2d7993b687'), 'first_name': 'Shubham', 'last_name': 'Jha'}
{'_id': ObjectId('5f3e17517fd38f2d7993b688'), 'first_name': 'Shubham0', 'last_name': 'Jha0'}
{'_id': ObjectId('5f3e17517fd38f2d7993b689'), 'first_name': 'Shubham', 'last_name': 'Shrma', 'nick_name': 'IT'}
{'_id': ObjectId('5f3e17517fd38f2d7993b68a'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5f3e17517fd38f2d7993b68b'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f3e17cf78a7cc0035f6387d'), 'first_name': 'Shubham', 'last_name': 'Jha'}
{'_id': ObjectId('5f3e17cf78a7cc0035f6387e'), 'first_name': 'Shubham0', 'last_name': 'Jha0'}
{'_id': ObjectId('5f3e17cf78a7cc0035f6387f'), 'first_name': 'Shubham', 'last_name': 'Shrma', 'nick_name': 'IT'}
{'_id': ObjectId('5f3e17cf78a7cc0035f63880'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5f3e17cf78a7cc0035f63881'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f3e181d1af1a3d2626f54ba'), 'first_name': 'Shubham', 'last_name': 'Jha'}
{'_id': ObjectId('5f3e181d1af1a3d2626f54bb'), 'first_name': 'Shubham0', 'last_name': 'Jha0'}
{'_id': ObjectId('5f3e181d1af1a3d2626f54bc'), 'first_name': 'Shubham', 'last_name': 'Shrma', 'nick_name': 'IT'}
{'_id': ObjectId('5f3e181d1af1a3d2626f54bd'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5f3e181d1af1a3d2626f54be'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f3e2a25aef53ffc5d4acb75'), 'first_name': 'Shubham', 'last_name': 'Jha'}
{'_id': ObjectId('5f3e2a25aef53ffc5d4acb76'), 'first_name': 'Shubham0', 'last_name': 'Jha0'}
{'_id': ObjectId('5f3e2a25aef53ffc5d4acb77'), 'first_name': 'Shubham', 'last_name': 'Shrma', 'nick_name': 'IT'}
{'_id': ObjectId('5f3e2a25aef53ffc5d4acb78'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5f3e2a25aef53ffc5d4acb79'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f3e2a5ed2914af518a4fb83'), 'first_name': 'Shubham', 'last_name': 'Jha'}
{'_id': ObjectId('5f3e2a5ed2914af518a4fb84'), 'first_name': 'Shubham0', 'last_name': 'Jha0'}
{'_id': ObjectId('5f3e2a5ed2914af518a4fb85'), 'first_name': 'Shubham', 'last_name': 'Shrma', 'nick_name': 'IT'}
{'_id': ObjectId('5f3e2a5ed2914af518a4fb86'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5f3e2a5ed2914af518a4fb87'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f3e2a8d85379276ee86dda2'), 'first_name': 'Shubham', 'last_name': 'Jha'}
{'_id': ObjectId('5f3e2a8d85379276ee86dda3'), 'first_name': 'Shubham0', 'last_name': 'Jha0'}
{'_id': ObjectId('5f3e2a8d85379276ee86dda4'), 'first_name': 'Shubham', 'last_name': 'Shrma', 'nick_name': 'IT'}
{'_id': ObjectId('5f3e2a8d85379276ee86dda5'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5f3e2a8d85379276ee86dda6'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f3e2a95158c611c98f5931b'), 'first_name': 'Shubham', 'last_name': 'Jha'}
{'_id': ObjectId('5f3e2a95158c611c98f5931c'), 'first_name': 'Shubham0', 'last_name': 'Jha0'}
{'_id': ObjectId('5f3e2a95158c611c98f5931d'), 'first_name': 'Shubham', 'last_name': 'Shrma', 'nick_name': 'IT'}
{'_id': ObjectId('5f3e2a95158c611c98f5931e'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5f3e2a95158c611c98f5931f'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f5c7792bd13df9c92de125c'), 'firstname': 'Shubham', 'lastname': 'jha', 'department': 'Analytics', 'qualification': 'BE', 'age': 23}
{'_id': ObjectId('5f5c7793bd13df9c92de125d'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5f5c7793bd13df9c92de125e'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f5c7793bd13df9c92de125f'), 'firstname': 'Sita', 'lastname': 'ram', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5f5c7793bd13df9c92de1260'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [14]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where firstname=krish

for record in empinfo.find({'firstname':'Shubham'}):
    print(record)

{'_id': ObjectId('5f5c7792bd13df9c92de125c'), 'firstname': 'Shubham', 'lastname': 'jha', 'department': 'Analytics', 'qualification': 'BE', 'age': 23}

In [8]:
## Query documents using query operators($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('5f5c7793bd13df9c92de125f'), 'firstname': 'Sita', 'lastname': 'ram', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5f5c7793bd13df9c92de1260'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [9]:
## And and Query operators
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('5f5c7793bd13df9c92de1260'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [10]:
## OR operators
for record in empinfo.find({'$or':[{'firstname':'Krish'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('5f5c7792bd13df9c92de125c'), 'firstname': 'Shubham', 'lastname': 'jha', 'department': 'Analytics', 'qualification': 'BE', 'age': 23}

In [11]:
inventory=mydb.inventory

In [12]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [13]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('5f5c7794bd13df9c92de1261'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}